{% extends "base.html" %}
{% block title  %}Title{% endblock  %}
{% block content %}
<div class="form-container">
<form action="" method="post">
    <label for="Name">Enter the name</label><br>
    <input type="text" name="Name" id="Name" placeholder="Name">
    <label for="age">Enter the age</label><br>
    <input type="text" name="age" id="age" placeholder="age">
    <label for="image">Enter the image</label><br>
    <input type="file" name="Name" id="Name" placeholder="enter the image"><br>
    <input type="submit" value="send data :)">
</form>
</div>
{% endblock content %}