<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <LI>
        <h1>by using id</h1>
        {% for auth in authors %}
        <a href="{% url 'author_detail' auth.id%}">{{auth}}</a>
        {% endfor %}
        
    </LI>
    <LI>
        <h1>by using slug</h1>  
        {% for auth in authors %}
      
        <a href="{% url 'author_detail' auth.slug%}">{{auth}}</a>
        {% endfor %}
        
    </LI>
    <h1>No of Authors: {{author_count}}</h1>
    <h1>Average  of Authors: {{author_avg}}</h1>
</body>
</html>